<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ezmanagement">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ezmanagement">
        <activity android:name=".data_retrieve"></activity>
        <activity android:name=".report_fac" />
        <activity android:name=".lecture_fac" />
        <activity android:name=".attendance_fac" />
        <activity android:name=".test_fac" />
        <activity android:name=".report_stu" />
        <activity android:name=".fees_stu" />
        <activity android:name=".attendance_stu" />
        <activity android:name=".test_stu" />
        <activity android:name=".faculty_page" />
        <activity android:name=".student_page" />
        <activity android:name=".login_page" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>